.morelink {
    background-color: #01579B;
    color: #ffffff;
    border: none;
    background-image: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.morelink:hover {
    border: none;
    background-image: none;
}

.morelink a {
    color: #ffffff;
}

.nub {
    display: none
}

.submit.mod-override .morelink a:after {
    background-image: url(%%header-imgsheet%%)!important;
    background-size: auto 16px;
    background-position: -96px;
}

.sidebox.create {
    display: none;
}

